BASE_URL=https://demo.spreecommerce.org
API_BASE_URL=https://demo.spreecommerce.org/api/v2/storefront
BROWSER=chrome
HEADLESS=false
REMOTE_URL=
IMPLICIT_WAIT=5
EXPLICIT_WAIT=10
SCREENSHOTS_DIR=Artifacts/screenshots
ARTIFACTS_DIR=Artifacts
TEST_USER_EMAIL=
TEST_USER_PASSWORD=
