# Base URLs
BASE_URL=https://demo.spreecommerce.org
API_BASE_URL=https://demo.spreecommerce.org/api/v2/storefront

# Browser setup
BROWSER=chrome
HEADLESS=false
REMOTE_URL=

# Waits
IMPLICIT_WAIT=5
EXPLICIT_WAIT=10

# Artifacts
SCREENSHOTS_DIR=Artifacts/screenshots
ARTIFACTS_DIR=Artifacts

# Logging
LOG_LEVEL=INFO
